    .badge-formateur {
        margin: auto;
        max-width: 80%;
        margin-top: .5rem;
        align-items: center;

        img {
            width: 100%;
            margin: auto;
        }
    }