    .badge-brevet {
        img {
            max-width: 95%;
            margin: auto;
            padding: .2rem;
            vertical-align: middle;
        }

        &--bc1 {
            background-color: rgb(56, 56, 243);
            max-width: 95%;
            margin: auto;
            img {
                max-width: 100%;
                margin: auto;
                padding: .2rem;
                vertical-align: middle;
            }
        }

        &--bc3, &--bc2 {
            max-width: 95%;
            margin: auto;
            img {
                max-width: 100%;
                min-width: 100%;
                margin: auto;
                padding: .2rem;
                vertical-align: middle;
            }
        }
    }