.badge-mapper {
    max-width: 80px;
    min-width: 5rem;
    margin: .1rem;

    .buchettes {
        max-width: 50%;
        margin: auto;
        img {
            max-width: 100%;
            margin: auto;
            padding: .2rem;
        }
    }
}