@import '@aabp/components/sass/theme';

.member-formation-uniform {
    width: 10rem;
    height: 15rem;
    border: 2px solid grey;
    background-color: $uniform;
    border-radius: 5rem 5rem .2rem .2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
}