@import '@aabp/components/sass/theme';

.member-formation-uniform {
    width: 10rem;
    height: 15rem;
    border: 2px solid grey;
    background-color: $uniform;
    border-radius: 5rem 5rem .2rem .2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    
    .badge-brevet {
        img {
            max-width: 50%;
            margin: auto;
            padding: .2rem;
        }

        &--bc1 {
            background-color: rgb(56, 56, 243);
            max-width: 60%;
            margin: auto;
            img {
                max-width: 100%;
                margin: auto;
                padding: .2rem;
            }
        }

        &--bc3 {
            max-width: 50%;
            margin: auto;
            img {
                max-width: 100%;
                margin: auto;
                padding: .2rem;
            }
        }
    }

    .badge-formateur {
        margin: auto;
        margin-top: .5rem;

        img {
            max-width: 70%;
            margin: auto;
        }
    }
}