@import '@aabp/components/sass/animations';

.accordion {
    .accordion-header {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-content: space-between;
        
        transition: .5s;
        padding:.4rem;

        &-title {
            text-align: left;            
        }
    }

    .accordion-header:hover {
        opacity: .6;
    }

    .toggle-up {
        @include toggle-up;            
    }

    .toggle-down {
        @include toggle-down;            
    }

    .caret {
        transition: all 0.3s 0.15s;
        //max-width: 15px;
        //max-height: 15px;
        text-align: right;
        vertical-align: center;
        position: absolute;
        right: 1rem;

        svg {
            //max-width: 15px;
            //max-height: 15px;

            path {
                fill: grey;
            }
        }
    }

    .accordion-content {
        transition: all .3s .15s linear;
        margin: .5rem;
        display: flex;
        height: inherit;
    }
    
    .content-open {
        opacity: 1;
        max-height: fit-content;
    }

    .content-closed {
        transition: all 3s .15s linear;
        opacity: 0;
        max-height: 0px;
        overflow: hidden;
    }
}