@import '@aabp/components/sass/animations';

.accordion {
    .accordion-header {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-content: space-between;
        
        transition: .5s;
        padding:.4rem;

        &-title {
            text-align: left;            
        }
    }

    .accordion-header:hover {
        opacity: .6;
    }

    .toggle-up {
        @include toggle-up;            
    }

    .toggle-down {
        @include toggle-down;            
    }

    .caret {
        transition: all 0.3s ease-out;
        text-align: right;
        vertical-align: center;
        position: absolute;
        right: 1rem;
    }

    .accordion-content {
        margin: .5rem;
        display: flex;
        overflow: hidden;
    }
    
    .content-open {
        height: fit-content;
        max-height: 2000px;
        transition: max-height 0.3s ease-in;
    }

    .content-closed {
        max-height: 0px;
        transition: max-height 0.3s ease-out;
    }
}