:root {
  --primary: #A3233A;
  --secondary: #EEC72C;
  --light: #f5e9eb;
  --medium-light: #d1919c;
  --dark: #410e17;
}

html {
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size:16px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size:25px;
}

h3 {
  font-size: 20px;
}

main {
  max-width: 80%;
  margin: auto;
}

main h1, h2, h3, h4 {
  text-align: center;
  padding-bottom:1em;
  word-wrap: none;
  word-break: keep-all;
}

.break {
  height:5rem;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../components/styles/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


section {
  padding: 30px 5px; /* first number needs to be higher then height header/footer */ 
  box-sizing:border-box;
  height:100%;
  overflow-x:visible;;
  min-height: 10em;
  line-height: 2em;
  justify-content: center;
  font-size: 16px;
}

p {
  font-size: 18px;
}

.carousel-public {
  width: 100%;
  margin:auto;
}

.carousel-public img {
  max-width:100%;
  height:auto;
  border-radius: 2px;
}

.branches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.branchecard {
  width: 40%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding:1em;
}

.branchecard:hover {
  background-color: whitesmoke;
  transition-property: background-color, color;
  cursor: pointer;
}

.castor-icon {
  display: relative;
  background-color: black;
  width: 50px;
}

.bleu {
  border: solid 3px blue;
}

.rouge {
  border: solid 3px var(--primary);
}

.jaune {
  border: solid 3px var(--secondary);
}

.vert {
  border: solid 3px green;
}

.formation-recommender-card {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.formation-recommender-card div {
  max-width: 20rem;
}

.formation-recommender-card > div {
  margin: 1rem;
}

form > div, .form div {
  margin: .5rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit-member-table-container {
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  html {
    margin-left:0%;
    text-align: center;
  }

  main {
    max-width: 95%;
  }

  .break {
    display: hidden;
  }

  .branches {
    flex-direction: column;
    margin:auto;
  }

  .branchecard {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 25px;
  }

  .formation-recommender-card {
    align-items: center;
    flex-direction: column;
  }

  .formation-recommender-card div {
    margin-top: .5rem;
  }

}
