@import "@aabp/components/sass/theme";

html {
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  line-height: 20px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto";
}

.lined-paper {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.jss6,
.jss7 {
  display: none;
}

main {
  max-width: 80%;
  margin: auto;
}

main h1,
h2,
h3,
h4 {
  text-align: center;
  padding-bottom: 1em;
  word-wrap: none;
  word-break: keep-all;
}

.break {
  height: 5rem;
}

.main-container {
  margin-left: 160px;
}

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../components/styles/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2")
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.preformatted {
  white-space: pre-line;
}

section {
  padding: 5px 5px;
  box-sizing: border-box;
  height: 100%;
  overflow-x: visible;
  min-height: 10em;
  justify-content: center;
}

.branches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.branchecard {
  width: 40%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  transition: width 2s;
}

.branchecard:hover {
  background-color: whitesmoke;
  transition-property: background-color, color;
  cursor: pointer;
}

.castor-icon {
  display: relative;
  background-color: black;
  width: 50px;
}

.bleu {
  border: solid 3px $blue;
}

.rouge {
  border: solid 3px $red;
}

.jaune {
  border: solid 3px $yellow;
}

.vert {
  border: solid 3px $green;
}

.bleu-marine {
  border: solid 3px $marine-blue;
}

.formation-recommender-card {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.formation-recommender-card div {
  max-width: 20rem;
}

.formation-recommender-card > div {
  margin: 1rem;
}

form > div {
  margin: 0.5rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unit-member-table-container {
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .title-asso-logo {
    margin: 1rem;
    max-width: 400px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.mobile-only {
  display: hidden;
}

@media only screen and (max-width: 1000px) {
  html {
    margin-left: 0%;
    text-align: justify;
  }

  main {
    max-width: 95%;
  }

  .main-container {
    margin-left: auto;
  }

  .break {
    display: hidden;
  }

  .branches {
    flex-direction: column;
    margin: auto;
  }

  .branchecard {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .formation-recommender-card {
    align-items: center;
    flex-direction: column;
  }

  .formation-recommender-card div {
    margin-top: 0.5rem;
  }
}
