:root {
  --primary: #A3233A;
  --secondary: #EEC72C;
  --light: #f5e9eb;
  --medium-light: #d1919c;
  --dark: #410e17;
}

html {
  font-family: Roboto, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size:18px;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size:25px;
}

h3 {
  font-size: 22px;
}

main {
  max-width: 80%;
  margin: auto;
}

main h1, h2, h3, h4 {
  text-align: center;
  word-wrap: none;
  word-break: keep-all;
}

.break {
  height:10em;
}
section {
  padding: 30px 20px; /* first number needs to be higher then height header/footer */ 
  box-sizing:border-box;
  height:100%;
  overflow-x:visible;;
  min-height: 50em;
}

p {
  font-size: 18px;
}

.carousel-public img {
  max-width:100%;
  height:auto;
  border-radius: 2px;
}

.branches {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.branchecard {
  width: 40%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding:1em;
}

.branchecard:hover {
  background-color: whitesmoke;
  transition-property: background-color, color;
  cursor: pointer;
}

.castor-icon {
  display: relative;
  background-color: black;
  width: 50px;
}

.bleu {
  border: solid 3px blue;
}

.rouge {
  border: solid 3px var(--primary);
}

.jaune {
  border: solid 3px var(--secondary);
}

.vert {
  border: solid 3px green;
}

.branche-modal .branche-modal-paper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  margin:auto;
  position: absolute;
  max-width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



@media only screen and (max-width: 1100px) {
  html {
    margin-left:0%;
    text-align: center;
  }

  main {
    max-width: 95%;
  }

  .break {
    display: hidden;
    height: 1em;
  }

  .branches {
    flex-direction: column;
    margin:auto;
  }

  .branchecard {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 25px;
  }
}
