@import '@aabp/components/sass/theme';

@mixin toggle-up {
    transform: rotate(180deg);
}

@mixin toggle-down {
    transform: rotate(0);
}

@mixin fade-in($duration) {
    animation: fadeIn $duration;
    -webkit-animation: fadeIn $duration;
    -moz-animation: fadeIn $duration;
    -o-animation: fadeIn $duration;
    -ms-animation: fadeIn $duration;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@keyframes pulse {
  0% {
      background-color: transparent;
  }
  50% {
      background-color: rgba($primary, 0.15);
  }
  100% {
      background-color: transparent;
  }
}