form {
    display: flex;
    flex-direction: column;
}

form input {
    max-width: 30%;
    text-align: center;
    margin: .5em;
}

@media only screen and (max-width: 1100px) {
    input {
        max-width: 100%;
    }
  }