:root {
    --primary: #A3233A;
    --secondary: #EEC72C;
    --light: #f5e9eb;
    --medium-light: #d1919c;
    --dark: #410e17;
  }

  footer div img {
        margin:auto;
        vertical-align:middle;
  }

  footer > div {
      padding: 1rem;
  }

  footer {
      background-color: white;
      font-size: 16px;
      margin:auto;
      transition-property: text-shadow, color;
      min-height: 2em;
      margin-bottom: 5em;
      margin-top: 5em;
      border: 4px dotted var(--light);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: left;
  }

  footer a, footer a:visited {
      text-decoration: none;
      color:var(--dark);
      text-align: left;
      margin:auto;
  }

  footer a:hover {
      text-shadow: 0 0 0 2px var(--primary);
      color:var(--primary);
  }

  footer div {
      display: inline;
  }

  footer h4 {
      margin-bottom: .5em;
  }

  @media only screen and (max-width: 600px) {
    html {
        margin-left:0%;
    }
    footer img {
        max-width: 40px;
        float: none;
    }
    footer {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    footer div, footer a{
        margin:auto;
        width: 100%;
        display: block;
    }
  }