
.profile form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:auto;
}

.profile form input {
    max-width: 80%;
    text-align: center;
    margin: .5em;
    margin-top: 1em;
}

.profile form label {
    margin-top: 2em;
}

.profile .submit-button {
    top:2em;
    max-width: 50%;
    text-align: center;
    position: relative;
    margin:auto;
    flex-direction: row-reverse;

}

.profile h3 {
    margin:2em;
}


@media only screen and (max-width: 1100px) {
    .profile form input {
        max-width: 100%;
    }

    .profile form {
        width: 100%;
    }

    .profile {
        margin:-1em;
        text-align: center;
    }

    .profile .submit-button {
        max-width: 80%;
        text-align: center;
        position: relative;
        margin:auto;
    }
  }