.add-user-to-unit {
    width: 100%;
}

.save-unit-button {
    justify-content:center;
    margin: auto;
  }


.unit form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:auto;
}

.unit {
    text-align: left;
    justify-content: left;
}

.unit form input {
    max-width: 80%;
    margin: .5em;
    margin-top: 1em;
}

.unit form label {
    margin-top: 2em;
}

.add-user-search {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.add-user-search div {
    margin:auto;
}

.save-unit-button, .add-user-button {
    max-width: 50%;
    text-align: center;
    position: relative;
    margin:auto;
    padding: 1em;

}