.add-user-to-unit {
    width: 100%;
}

.save-unit-button {
    justify-content:center;
    margin: auto;
  }


.unit-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.unit-modal-content > div {
    margin:1rem;
    max-width: 80%;
    margin:auto;
    padding: .5rem;
}

.unit-modal {
    margin-top: 10%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.unit form label {
    margin-top: 2em;
}

.add-user-search {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.add-user-search > div {    
    margin:auto;
    max-width: 25%;
    margin-top: 1rem;
}

.save-unit-button, .add-user-button {
    max-width: 50%;
    text-align: center;
    position: relative;
    margin:auto;
    padding: 1em;

}

.add-new-users-recensement {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-new-users-recensement-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.add-new-users-recensement-item > div {
    max-width: 15rem;
    padding: .5rem;
}

.add-user-row-button {
    right: 0rem;
}
