.add-user-to-unit {
    width: 100%;
}

.save-unit-button {
    justify-content:center;
    margin: auto;
  }


.unit-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.unit-modal {
    margin-top: 10%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.unit form label {
    margin-top: 2em;
}

.add-user-search {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.add-user-search div {
    margin:auto;
}

.save-unit-button, .add-user-button {
    max-width: 50%;
    text-align: center;
    position: relative;
    margin:auto;
    padding: 1em;

}